* {
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	margin: auto;
	max-width: 1400px;
	padding: 0 30px;
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	justify-content: space-between;
}

header img {
	width: 61px;
	margin: 20px 0;
	object-fit: contain;
}

header nav {
	display: flex;
}

header a {
	display: block;
	font-weight: 500;
	padding: 40px 20px;
	border-top: 2px solid white;
}

header a:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
}

h1 {
	font-size: 1.4em;
	margin: 10px 0;
}

form {
	display: flex;
	height: 50px;
	margin: 20px 0 40px 0;
}

label {
	background-color: #d9d9d9;
	border-radius: 15px 0 0 15px;
	padding: 16px 18px;
	font-size: 1.2em;
}

input,
button {
	font-size: 1.2em;
	font-weight: 700;
}

input {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-right: 0;
	border-left: 0;
	padding-left: 17px;
}

input:focus {
	outline: none;
}

button {
	border: 0;
	background-color: #0065fc;
	color: white;
	border-radius: 0 15px 15px 0;
	padding: 14px 16px;
	cursor: pointer;
}

#filters-section,
.filters {
	display: flex;
	align-items: center;
	gap: 50px;
}

#filters-section {
	margin: 35px 0;
}

#filters-section h2 {
	font-size: 1.2em;
	font-weight: 700;
}

.filter {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.1em;
	font-weight: 700;
	border: 2px solid #d9d9d9;
	border-radius: 30px;
	padding: 14px 20px;
}

.filter:hover {
	background-color: #deebff;
}

.filter i {
	color: #0065fc;
}

#info {
	display: flex;
	align-items: center;
	gap: 10px;
}

#info i {
	color: #0065fc;
	font-size: 0.7em;
	border: 1px solid #d9d9d9;
	border-radius: 20px;
	width: 24px;
	height: 24px;
	padding: 5px 9px;
}
